.footer {
    background-color: #f5f5fa;
    padding-bottom: 30px;

    .footer-hr {
        margin: 0 auto 30px;
    }

    .footer-inner {
        display: flex;
        justify-content: space-between;

        .footer-left {
            .footer-address {
                font-size: 16px;
                line-height: 1.25;
                color: #323264;
                margin-bottom: 21px;
            }

            .dot-separator {
                margin: 0 10px;
            }

            .map-link {
                font-weight: 700;
                font-size: 12px;
                line-height: 1.25;
                letter-spacing: 1px;
                text-decoration: none;
                text-transform: uppercase;
                color: #24a3ff;
            }

            .fb-icon-footer {
                width: 38px;
                height: 38px;

                & path {
                    fill: #24a3ff;
                    transition: 0.3s;
                }

                &:hover path{
                    fill: $accent-color;
                }
            }

            .footer-tel {
                font-weight: 700;
                font-size: 16px;
                line-height: 1, 25;
                color: #46466e;
                text-decoration: none;
            }

            .footer-mail {
                font-weight: 700;
                font-size: 16px;
                line-height: 1, 25;
                color: #24a3ff;
                text-decoration: none;
                transition: 0.3s;

                &:hover {
                    color: $accent-color;;
                }
            }
        }

        .footer-right {
            .trademark {
                color: #b3b3ba;
                font-size: 16px;
                line-height: 1.25;
            }
        }
    }
}
