.services-page {
    &-sect {
        background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
        background-repeat: no-repeat;
        background-position: center 0%;
        background-color: #643e72;
        padding: 200px 0;
        position: relative;
        border-radius: 0px 0px 12px 12px;

        .services-container {
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;
        }
    }

    .clients-container {
        margin: 30px auto 0;
    }

    .footer {
        padding: 30px 0;
    }
}
