.team-page {
    &-sect {
        padding: 200px 0 0;

        .navbar {
            margin: 50px 0 60px;
            position: absolute;
            top: 0;
            width: 100%;

            @media (max-width: 576px) {
                margin: 0 0 15px;
                padding-top: 0;
            }

            &-dark {
                .navbar-nav {
                    @media (max-width: 992px) {
                        margin-left: -8px !important;
                    }

                    @media (max-width: 576px) {
                        margin-left: 0 !important;
                    }

                    .active {
                        color: $accent-color !important;
                        border-bottom: solid #f0145a;
                    }

                    .nav-link {
                        margin-right: 15px;
                        color: #24a3ff;
                        font-weight: 700;
                        padding: 0;

                        &:hover {
                            border-bottom: solid;
                        }
                    }
                }

                .navbar-toggler {
                    order: 2;
                    border: 0;

                    &-icon {
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                    }
                }
            }

            &-brand {
                order: 1;
                margin-bottom: -70px;
                width: 254px;
                height: 70px;

                @media (max-width: 992px) {
                    margin-bottom: 15px;
                }
            }

            &-collapse {
                order: 3;
            }

            &-lang,
            &-address,
            &-tel {
                color: $grey-color;

                &:after {
                    content: "";
                    width: 6px;
                    height: 6px;
                    background-color: #e6e6f0;
                    border-radius: 50%;
                    display: inline-block;
                    margin: 0 6px;
                    transform: translateY(-2px);

                    @media (max-width: 576px) {
                        display: none;
                    }
                }
            }

            &-address,
            &-fb {
                @media (max-width: 576px) {
                    display: none;
                }
            }

            &-lang {
                &-item {
                    width: 33px;
                    height: 25px;
                    color: $grey-color;
                    font-weight: 700;
                    text-decoration: none;
                    padding: 5px 7px;
                    border-radius: 8px;
                    font-size: 12px;

                    &.active {
                        background-color: $main-color;
                        color: white;

                        &:hover {
                            background-color: #f5f5fa;
                            color: $grey-color;
                        }
                    }

                    &:hover {
                        background-color: #f5f5fa;
                    }
                }
            }

            &-tel {
                text-decoration: none;
                font-weight: 700;
            }

            &-fb svg path {
                fill: $grey-color;
            }

            &-fb:hover svg path {
                fill: $accent-color;
            }

            .navbar-container {
                flex-wrap: wrap;

                @media (max-width: 992px) {
                    flex-direction: column;
                    align-items: flex-start;
                }

                @media (max-width: 576px) {
                    flex-direction: initial;
                }
            }
        }

        .navbar-main-logo {
            @media (max-width: 576px) {
                width: 70px;
            }
        }

        .navbar-top {
            order: 2;
            display: flex;
            width: 100%;
            justify-content: flex-end;

            @media (max-width: 992px) {
                order: 1;
                justify-content: flex-start;
                margin-left: -7px;
            }

            @media (max-width: 576px) {
                justify-content: space-between;
                margin-left: 0;
                background: rgba(245, 245, 250, 0.2);
                padding: 13px 15px;
                margin: 0 -12px;
                width: calc(100% + 26px);
            }
        }

        .team-page-heading {
            margin: 0 auto;
            width: 1080px;
        }

        .team-page-inner {
            margin: 60px 0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 60px;

            &-item {
                width: 400px;
                height: 462px;
                position: relative;

                .team-link {
                    text-decoration: none;

                    &:hover {
                        .team-text-name {
                            color: $accent-color;
                        }

                        .arrow-button circle {
                            fill: #ededf7;
                        }

                        .arrow-button path {
                            stroke: $accent-color;
                        }


                    }

                    .team-img {
                        width: 400px;
                        height: 400px;
                        border-radius: 12px;
                    }

                    .team-text-name {
                        display: inline-block;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 1.25;
                        color: #323264;
                        margin: 15px 0 5px;
                    }

                    .arrow-button {
                        position: absolute;
                        bottom: 15px;
                        right: 0;
                    }
                }
                
                .team-text-role {
                    font-size: 14px;
                    line-height: 1.55;
                    color: $grey-color;
                }
            }
        }
    }

    .footer {
        padding: 30px 0;
    }
}
