$main-color: #F0145A;
$secondary-color: #24A3FF;
$lightgrey-color: #F5F5FA;
$grey-color: #B3B3BA;
$gradient-text-color: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$gradient-reversed-color: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$accent-color: #F0145A