@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import "variables";
@import "header";
@import "home";
@import "services";
@import "team";
@import "footer";

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

.subheading {
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: $secondary-color;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover {
        color: $accent-color;
    }

    .arrow {
        transform: translate(-3px, -2px);
        transition: 0.3s;
    }

    &:hover .arrow path {
        stroke: $accent-color;
    }
}

.section-heading {
    font-size: 38px;
    color: $main-color;
    font-weight: 700;
}

.gradient-text {
    background: $gradient-text-color;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.publications-heading {
    display: inline-block;
    margin: 30px 0 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    text-decoration: none;
    color: $secondary-color;
    transition: 0.3s;

    &:hover {
        color: $accent-color;
    }
}

.date {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $grey-color;
}

.small-text {
    font-size: 14px;
    line-height: 1.55;
}

.services-heading {
    display: block;
    margin: 30px 0 15px;
    color: $secondary-color;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    line-height: 1.2;
    transition: 0.3s;

    &:hover {
        color: $accent-color;
    }
}

.services-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 0;
}
